<ion-content>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <img src="../../assets/icon/logo.png" (click)="welcome()" class="logo" alt="logo" srcset="">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#/home">FILMES <span class="sr-only">(Página atual)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link">SÉRIES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">MÚSICAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">LIVROS</a>
            </li>
          
          </ul>
          <form class="form-inline my-2 my-lg-0"  style="margin-right: 10px">
            <input class="form-control mr-sm-2" [(ngModel)]="search" [ngModelOptions]="{standalone:true}" style="width: 250px;" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button *ngIf="search" class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <ion-icon name="md-search" class=""></ion-icon>
            </button>
          </form>
          <a href="#/profile"><img title="avatar"  src="../../assets/imgs/appicon.png" class="avatar" alt=""></a>

          <a class="logout" href="#" (click)="logout()">Logout</a>
        </div>
    </nav>

   
      <div class="my-list">
          <ion-slides pager="true" options="slideOpts">
              <ion-slide *ngFor="let images of [1,2,3]"  style="width:100%; margin-left: -5px; ">
                  <div class="galeria-container d-flex justify-content-center">
                      <div class="galeria-item" *ngFor="let image of [1,2,3,4,5]">
                        <div class="image-horizontal"></div>
                        <!--img class="image-horizontal" src="../../assets/imgs/logo.png"-->
                      </div>
                  </div>
              </ion-slide>
          </ion-slides>
      </div>

      <div>
          <ion-card>
              <ion-card-content>
                  <ion-grid *ngIf="popularsMovie">
                      <ion-row>
                        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let movie of popularsMovie" (click)="openDetails(movie)">
                          <div *ngIf="movie.pathPoster">
                              <img [src]="movie.pathPoster" class="image-container" >                          
                              <div class="info">
                                  {{movie.title}} - ({{movie.original_title}})
                              </div>
                          </div>
                          
                          <div class="image-container spinnerCenter" *ngIf="!movie.pathPoster">
                              <ion-spinner></ion-spinner>
                              <div class="info">
                                  Aguarde
                              </div>
                          </div>  

                        </ion-col>
                      </ion-row>
                    </ion-grid>  
                    <div *ngIf="popularsMovie == null">
                      <h3> - Falha ao localizar filmes populares</h3>
                    </div>              
              </ion-card-content>
            </ion-card>

      </div>


 
</ion-content>
