page-header {

    .logo{
        position: relative;
        width: 100px;
    }

    .nav-item{
        padding-left: 20px;
    }

    .avatar{
        width: 30px;
        border: solid 1px rgb(161, 161, 161);
        border-radius: 50%;
    }

    .icon-button{
        font-size: 10px;
    }
}

